{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'Pymodoro:start' %}" method="post">
{% csrf_token %}
<label for="tag">tag:</label>
<input type="text" name="tag" id="tag" />
<input type="submit" value="Start pomodoro" />
</form>

{% if today_pomodoro_list %}
    <ul>
    {% for pomodoro in today_pomodoro_list %}
        <li><a href="{% url 'Pymodoro:detail' pomodoro.id %}">{{ pomodoro }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No pomodoros created today.</p>
{% endif %}